* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8px;
    padding: 10px;
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
    color: white;
    width: 90vw;
    /* height: 50vh; */
}

form {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FormBox {
    margin: 10px;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FormBox .Button {
    margin-top: 20px;
    width: 65px;
    height: 25px;
}

.Rules {
    font-size: 10px;
    font-weight: 600;
    font-style: italic;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.Rules h1 {
    text-decoration: underline;
}

.Rules p {
    margin: 5px 2px 5px 2px;
}

.ResultPara {
    margin-top: 20px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.LowHi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
@media (max-width:500px) {
    #top-heading {
        font-size: 20px;
        margin-top: 20px;
    }
    .Rules p {
        font-size: 15px;
    }
    #btn {
        width: 100px;
        height: 40px;
        margin-top: 3px;
    }
    #userInput {
        height: 30px;
    }
    .LowHi {
        font-size:13px ;
    }
}